.classpath
.gitignore
*/.classpath
*/.gitignore
*/.gradle/
*/.gradle/*
script/
script/*
.project
*/.project
.settings/
.settings/*
application.yml
*/application.yml
build/
build/*
simo_files/
simo_files/*
bin/
bin/*
.idea/
.idea/*
out/
out/*
simo-workflow-rxc/
simo-workflow-rxc/*
*/gradle-rxc.properties
*/*.bat